<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LinkedIdeas-iOS-Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LinkedIdeas-iOS-CoreTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LinkedIdeas-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LinkedIdeas.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LinkedIdeas_Shared_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LinkedIdeas_Shared_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>QLLinkedIdeas.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B2F1D9B1BE7CFE70090CC18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B2F1DAF1BE7CFE80090CC18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B2F1DBA1BE7CFE80090CC18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B97BF7D2013F39000C780AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD850AF1EE4C199005B89C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BE6A669201A7BDF00E276BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BF8398C2017C75A0094101B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
